*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
background-color: darkolivegreen;
  }
  td, th {
    border: 1px solid greenyellow;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: greenyellow;
  }