*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

.container { 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: lightgrey;

}

.item{
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    color: white;
}


.item7{
    background-color: green;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 6;
}

