*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}
nav{
    height: 50px;
    background-color: #999999;
}
footer{
    height: 100px;
    background-color: #ccc;
}