*{ /* para todos os elementos da pagina */
    box-sizing: border-box; /* width será a soma do conteúdo com a borda e o padding. */
}


body{
    margin: 0px;
}

.tarja{
    height: 70px;
    width: 340px;
    font-size: 20px;
    background-color: royalblue;
    transform: rotate(-45deg);
    position: fixed;
    top: 50px;
    border: 1px solid royalblue;
    
    padding-top: 20px;
    box-shadow: 0px 0px 30px grey;
    left: -80px;
}

a{
    text-decoration: none;
    text-shadow: 5px 10px 10px grey;
    color: whitesmoke;

    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-right: 90px;
    padding-bottom: 17px;
    padding-top: 14px;
    padding-left: 60px;
  
}